{% extends 'input/base.html' %}

{% block content %}
	<h1>About</h1>
	<div class="row">
		<div class="col-xs-12">
		    <button type="button" class="btn btn-info">
    		  <span class="glyphicon glyphicon-ok"></span>
		    </button> Tfl API
		</div>
	</div>
	<div class="row">	
		<div class="col-xs-6">
		    <button type="button" class="btn btn-info">
    		  <span class="glyphicon glyphicon-ok"></span> 
		    </button> Simplify Commerce | secured by MasterCard
		</div>
	</div>
	<div class="row">	
		<div class="col-xs-6">
		    <button type="button" class="btn btn-info">
    		  <span class="glyphicon glyphicon-ok"></span>
		    </button> MasterCard Places @ developer.mastercard.com (kind of ;-) )
		</div>
	</div>

	<div>
	<a href="{% url 'stop' %}">Go back to arrivals</a>
	</div>

{% endblock %}