{% extends 'input/base.html' %}

{% block content %}
	<h1>{{ message }}</h1>
	<div class="row">
		<div class="col-xs-6">
		    <button type="button" class="btn btn-info">
    		  <span class="glyphicon glyphicon-book"></span> {{ paper_choice }}
		    </button>
		</div>

		<div class="col-xs-6">
		    <button type="button" class="btn btn-info">
    		  <span class="glyphicon glyphicon-bitcoin"></span> {{ paper_price }}
		    </button>
		</div>
	</div>

	<div>
	<a href="{% url 'stop' %}">Go back to arrivals</a>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.8227352581684!2d-0.14094768423170626!3d51.46141097962759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI3JzQxLjEiTiAwwrAwOCcxOS41Ilc!5e0!3m2!1sen!2suk!4v1447552627443" frameborder="0" style="border:0" allowfullscreen></iframe>
	{# width="600" height="450" #}

{% endblock %}