{% extends 'input/base.html' %}

{% block content %}

	<h1>{{ message }}</h1>

	<h4>Live departures:</h4>

	<div style='background-color:black; padding: 5px; border-radius: 7px'>
		<ul>
		{% for arrival in arrivals %}
			<li>{{ arrival.lineName }} {{ arrival.expectedArrival }}
		{% endfor %}
		</ul>
	</div>
	

	<div>
	<a href="{% url 'walk' %}">Get me walking!</a>
	</div>
	
	<div>
	<a href="{% url 'coffee' %}">Get me a tomato juice!</a>
	</div>
	
	<div>
	<a href="{% url 'paper' %}">Get me ticket to 'Battle of Trafalgar'!</a>
	</div>

{% endblock %}